<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asha.vrlib">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <application/>

</manifest>
